
@page {
    size: 6in 9in;
    bleed: 6mm; 
    marks: crop;
}  

@page:left {
    @bottom-left {
    content: counter(page);
    }
}

@page:right {
    @bottom-right {
    content: counter(page);
    }
}

section {
    break-before: left;
}

chapter {
    break-before: right;
}

.sectiontitle{
    font-size:45px;
}

.sectionintro{
    font-size:24px;
}

img { max-width: 100% }

