---
title: Book PDF
layout: book
---

<h1>The Consultant's Grain</h1>


{% for section in site.data.structure %}
<section>

<h1>{{section.title}}</h1>
<div>{{section.blurb}}</div>

{% for essay in section.chapters %}

{% assign post = site.chapters | where: "url", essay.url  | first %}

<chapter>
<h2>{{post.title}}</h2>
<h3>{{post.subtitle}}</h3>
{{post.content}}
</chapter>






{% endfor %}

</section>
{% endfor %}


<!-->
Seems relevant and useful: https://www.edrlab.org/public/slides/dps2019/DPS-s6-1-Blanc.pdf
http://slides.julie-blanc.fr/20190626_DigitalPublishingSummit.html
https://ashok-khanna.github.io/pdf/
https://ashok-khanna.medium.com/beautiful-pdfs-from-html-9a7a3c565404
<!-->

    

</body>
