---
title: Book PDF
layout: book
---

<h1>The Consultant's Grain</h1>

{% for page in site.chapters %}
{{page.url}}
{% endfor %}

{% for section in site.data.structure %}
    {% for essay in section.chapters %}
        {{essay.url}}
        {% assign post = site.chapters | where: "url", essay.url  | first %}

        {{post.content}}

    {% endfor %}
{% endfor %}


<!-->
Seems relevant and useful: https://www.edrlab.org/public/slides/dps2019/DPS-s6-1-Blanc.pdf
http://slides.julie-blanc.fr/20190626_DigitalPublishingSummit.html
https://ashok-khanna.github.io/pdf/
https://ashok-khanna.medium.com/beautiful-pdfs-from-html-9a7a3c565404
<!-->

    

</body>
