

    <link href="/css/interface.css" rel="stylesheet" type="text/css" />
    <link href="/css/print.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/pagedjs@0.4.1/dist/paged.polyfill.js"></script>



<body>

<style>
@page {
    size: A2;
    margin-top: 20mm;
    margin-bottom: 20mm;
    bleed: 6mm; 
    marks: crop;
    @bottom-center{
        content: counter(page);
    }
}  

img { max-width: 100% }

</style>

{% for section in site.data.structure %}
    {% for chapter in section %}
        
        {% assign post = site.chapters | where:"url", chapter.url  | first %}

        {{post.content}}

    {% endfor %}
{% endfor %}


<!-->
Seems relevant and useful: https://www.edrlab.org/public/slides/dps2019/DPS-s6-1-Blanc.pdf
http://slides.julie-blanc.fr/20190626_DigitalPublishingSummit.html
<!-->


</body>