---
title: The Consultant's Grain
---

{% include head.html %}

{% include nav.html %}

<div class="container mw8 w-100 ph5-l ph3 center relative mv5">


<div class="flex flex-wrap">
<div class="w-40 pr3 center">
<img class="w5" src="https://tomcritchlow.com/images/tsi-cover-sep-2021.png"/>
<div>Read online</div>
<div>About</div>
<div>PDF Version</div>
<div>Get updates</div>
</div>
<div class="w-60 pl3 vh-100 overflow-y-scroll">
  <h2>The Consultant's Grain</h2>
  
  {% for section in site.data.structure %}
  <h2>{{section.title}}</h2>
  <ul class="list pl0 ml0 center ba b--light-silver br3">
  {% for chapter in section.chapters %}
    <a href="{{chapter.url}}"><li class="ph3 pv2 bb b--light-silver bg-animate hover-bg-washed-green">{{chapter.title}}</li></a>
  {% endfor %}
</ul>
  {% endfor %}
  
</div>
</div>

</div>