---
title: The Consultant's Grain
---

{% include head.html %}

<div class="container mw8 w-100 ph5-l ph3 center relative mv5">


<div class="flex flex-wrap">
<div class="w-40 pr3">
<img src="https://tomcritchlow.com/images/tsi-cover-sep-2021.png"/>
</div>
<div class="w-60 pl3">
  <h2>The Consultant's Grain</h2>
  
  {% for section in site.data.structure %}
  {% for chapter in section.chapters %}
  {{chapter.url}}
  {% endfor %}
  {% endfor %}
  
  
  {% for chapter in site.chapters %}
  <div class="pv2">
    <a href="{{chapter.url}}">{{chapter.title}}</a>
  </div>
  
  {% endfor %}
</div>
</div>

</div>