---
title: The Consultant's Grain
---

{% include head.html %}

{% include nav.html %}

<div class="container mw8 w-100 ph5-l ph3 center relative mv5">


<div class="flex flex-wrap">
<div class="w-40-l w-100 pr3-l center relative">
  <div class="fixed-l">
<img class="w5" src="https://tomcritchlow.com/images/tsi-cover-sep-2021.png"/>
<div>Read online</div>
<div>About</div>
<div>PDF Version</div>
<div>Get updates</div>
</div>
</div>
<div class="w-60-l w-100 pl3-l">
  <h2>The Consultant's Grain</h2>
  
  {% include chapters.html %}
  
</div>
</div>

</div>