<div class="w-100 center pa2 bb b--black-10 fixed">
  <div class="mw9 ph5-l flex justify-between items-center">

    <div><a class="link black" href="/">The Strategic Independent</a></div>

    <a href="#" onclick="showNav()"><img class="h2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAaElEQVR4nO3VQQqAIBCG0f/+x0o8l+0LhyCKjPdgFoKbQeFLAKDUk4zDtCxoTOakFZffnlYsMjt/cpHtziK/+Vpf1y6+HLC4ruxR9ih7QdmBtXRlj7JH2QvKDqylK3uUPcpeUHYA8pQdpmGW8EWJxJUAAAAASUVORK5CYII="></a>
  </div>
</div>

<div class="dn absolute right-2 ba br3 b--black-10 bg-white shadow-5 pa4 z-1 mw6" id="chapternav">
  <h3>The Strategic Independent</h3>
  <div>Tom Critchlow</div>
  <img class="w4" src="https://tomcritchlow.com/images/tsi-cover-sep-2021.png"/>
  <a href="/">Index</a>
  {% for chapter in site.chapters %}
  <div class="pv2 bb b--black-10">
    <a href="{{chapter.url}}">{{chapter.title}}</a>
  </div>
  {% endfor %}
</div>

<script>
  function showNav() {
    var x = document.getElementById("chapternav");
    var display = window.getComputedStyle(x).display;
    if (display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>