{% for section in site.data.structure %}
  {% for chapter in section.chapters %}
    {% if page.url == chapter.url %}
      {% assign pagesection = section.title %}
      {% assign pagechapter = chapter.title %}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="w-100 center pa2 bb b--black-10 sticky bg-white z-1">
  <div class="mw9 ph5-l flex justify-between items-center">

    <div class="w-20"><a class="link black" href="/">The Strategic Independent</a></div>

    <div>
      <div class="f4 b">{{pagesection}}</div>
      <div class="f4">{{pagechapter}}</div>
      
      </div>

    <div class="w-20"><a href="#" onclick="showNav()"><img class="h2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAaElEQVR4nO3VQQqAIBCG0f/+x0o8l+0LhyCKjPdgFoKbQeFLAKDUk4zDtCxoTOakFZffnlYsMjt/cpHtziK/+Vpf1y6+HLC4ruxR9ih7QdmBtXRlj7JH2QvKDqylK3uUPcpeUHYA8pQdpmGW8EWJxJUAAAAASUVORK5CYII="></a></div>
  </div>
</div>

<div class="dn absolute right-2 ba br3 b--black-10 bg-white shadow-5 pa4 z-1 mw6 h-75 overflow-y-scroll" id="chapternav">
  <h3>The Strategic Independent</h3>
  <div>Tom Critchlow</div>
  <img class="w4" src="https://tomcritchlow.com/images/tsi-cover-sep-2021.png"/>
  {% include chapters.html %}
  
</div>

<style>
  .sticky{
    position:sticky;
    top:0px;
  }
</style>

<script>
  function showNav() {
    var x = document.getElementById("chapternav");
    var display = window.getComputedStyle(x).display;
    if (display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>